<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% load render_table from django_tables2 %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>CPython Contributors</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet"
          media="screen,projection"/>
</head>
<body>
<nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo"></a>
        <a href={% url 'index' %} class="brand-logo">Cpython contributors</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href={% url 'index' %}>Home</a></li>
            <li><a href={% url 'all_time' %}>All time contributions</a></li>
        </ul>
    </div>
</nav>
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br><br>
        <h1 class="header center orange-text">🐍🐍 ❤ Thanks! ❤ 🐍🐍</h1>
        <div class="row center">
            <h5 class="header col s12 light">Commits since {{ from_date }}</h5>
        </div>
        <br><br>
    </div>
</div>

<div style="width:40%; margin:0 auto;">
    {% render_table table 'contributions/table_default.html' %}
</div>

<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.datepicker_from');
        var instances = M.Datepicker.init(elems, {
            format: 'yyyy-mm-dd'
        });
    });
</script>

</body>
</html>
