{% extends "base.html" %}
{% block title %}
  Contributions of {{ contributor }}
{% endblock title %}
{% block main_content %}
  {% load render_table from django_tables2 %}

  <form action="" method="get" class="form form-inline">
    {% block content %}
      <form action="" method="get">
        {{ filter.form.as_p }}
        <input type="submit" class="btn"/>
      </form>
    {% endblock %}
  </form>

  <div class="row">
    {% render_table table 'contributions/table_default.html' %}
  </div>
{% endblock main_content %}

{% block inline_javascript %}
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var elems = document.querySelectorAll('.datepicker_from');
      var instances = M.Datepicker.init(elems, {
        format: 'yyyy-mm-dd'
      });
    });
  </script>
{% endblock inline_javascript %}
